<div class="w-screen py-12 uppercase flex flex-row px-8 justify-center font-medium text-slate-700">
    <div class="max-w-5xl w-full grid grid-cols-1 lg:grid-cols-4 gap-y-16 text-xs">
        <div class="flex flex-col gap-y-5">
            <a href="">Privacy Policy</a>
            <a href="">Term of Service</a>
            <a href="">Cookie Policy</a>
        </div>
        <div class="flex flex-col gap-y-5">
            <a href="">Pricing</a>
            <a href="">Docs</a>
            <a href="">About Us</a>
            <a href="">Blog</a>
            <a href="">Get Started</a>
        </div>
        <div class="flex flex-col gap-y-5">
            
        </div>
        <div class="flex flex-col gap-y-2">
            <img class="h-8 w-8" src="../../assets/pf-logo.png" alt="" srcset="">
            <div>Slavonska Avenija 6, CityPlaza, 5th Floor</div>
            <div>10000 Zagreb, Croatia</div>

        </div>
    </div>
</div>