<div class="w-screen py-12 uppercase flex flex-row px-8 justify-center font-medium text-slate-700">
    <div class="max-w-5xl w-full grid grid-cols-1 lg:grid-cols-4 gap-y-16 text-xs">
        <div class="flex flex-col gap-y-5">
            <a href="https://htmlpreview.github.io/?https://github.com/0xpolyflow/privacy-policy/blob/main/policy.html">Privacy Policy</a>
        </div>
        <div class="flex flex-col gap-y-5">
            <a routerLink="pricing">Pricing</a>
            <a href="https://docs.polyflow.dev">Docs</a>
            <a routerLink="aboutus">About Us</a>
            <a href="https://polyflow.substack.com">Blog</a>
            <a routerLink="pricing">Get Started</a>
        </div>
        <div class="flex flex-col gap-y-5">
            
        </div>
        <div class="flex flex-col gap-y-2">
            <img class="h-8 w-8" src="../../assets/pf-logo.png" alt="" srcset="">
            <div>Druga Kozmička d.o.o.</div>
            <div>Slavonska Avenija 6, CityPlaza, 5th Floor</div>
            <div>10000 Zagreb, Croatia</div>
        </div>
    </div>
</div>